# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.iml
*.ipr
*.iws
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.log
.DS_Store
